Source: gcredstash
Section: utils
Priority: optional
Maintainer: Genki Sugawara <sgwr_dts@yahoo.co.jp>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/winebarrel/gcredstash
#Vcs-Git: git://git.debian.org/collab-maint/gcredstash.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gcredstash.git;a=summary

Package: gcredstash
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: gcredstash manages credentials using AWS Key Management Service (KMS) and DynamoDB.
