#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	# nothing to do

override_dh_fixperms:
	dh_fixperms
	chmod 0700 debian/gcredstash/usr/sbin/gcredstash
